
#action_tabs>button {
    margin: 10px;
}

#action_display {
    height: 180px;
    position: relative;
}

#action_display>.state_display {
    margin: 10px;
}

#pickerBoxContainer {
    display: none;
}


#pickerBox {
    z-index: 10;
    padding: 20px;
    position: absolute;
    top: 300px;
    right: 70px;
    width: 200px;
    height: 270px;
    transform: translate(-50%);
    background-color: var(--absolute-hint-color);
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

#pickerBox .button {
    font-size: 20px;
    margin: 5px;
    padding: 7px 20px;
}

#picker_settting_img {
    position: absolute;
    width: 60%;
    height: 60%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.state_display_container {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 10px;
}

.state_display {
    height: 100%;
    text-align: center;
    outline: none;
    position: relative;
    background-color: #333;
    border: none;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
}

.state_display .facility-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.multiple-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.multiple-view .facility-element {
    display: table-cell;
    position: relative;
    height: 30px;
    width: 30px;
    top: 0%;
    left: 0%;
    transform: none;
    margin: 3px;
}

#reset_button {
    display: none;
}

#red::-webkit-slider-runnable-track {
    background: linear-gradient(0.25turn, #000, red);
}

#lime::-webkit-slider-runnable-track {
    background: linear-gradient(0.25turn, #000, lime);
}

#blue::-webkit-slider-runnable-track {
    background: linear-gradient(0.25turn, #000, blue);
}
