.block {
    width: 100%;
    height: 100%;
    /* background: #bbb; */
    background-color: var(--block-color);;
    border-radius: 5px;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.scrollable-y {
    overflow-x: hidden;
    overflow-y: overlay;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    white-space: nowrap;
}

.scrollable-x {
    overflow-x: overlay;
    overflow-y: hidden;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
    white-space: nowrap;
}

.scrollable::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    transform: translate(-50%, -50%);
}

.scrollable::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
    transform: translate(-50%, -50%);
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: var(--second-bg-color);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.content-wrapper {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: 250px calc(100% - 250px);
    height: 100%;
}

.table-wrapper {
    display: grid;
    grid-template-columns: 80px 80px auto;
}

.box {
    padding: 20px;
}

#map_box {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    overflow: hidden;
}

#table_box {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#action_box {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#map_line {
    position: relative;
    top: calc(50% - 10px);
    height: 10px;
    z-index: 0;
    background-color: var(--additional-color);
    grid-row-start: 1;
    grid-column-start: 1;
}

#map_grid {
    display: grid;
    height: 100%;
    /* grid-template-columns: auto 400px; */
    grid-template-rows: 1fr 1fr 1fr;
    /* border: solid 1px; */
}

.drag-zone {
    height: 100%;
    position: absolute;
    pointer-events:none;
    top: 0px;
    /* background-color: red; */
    z-index: 11;
}

.map-row {
    position: relative;
    height: 50px;
    z-index: 0;
    /* background-color: blue; */
}

#row_1 {
    grid-row-start: 1;
    grid-column-start: 1;
}

#row_2 {
    grid-row-start: 2;
    grid-column-start: 1;
}

#row_3 {
    grid-row-start: 3;
    grid-column-start: 1;
}

.grid-2col {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#action_tabs {
    height: 80px;
}

#action_tabs>button {
    margin: 10px;
}

#action_display {
    height: 180px;
}

#action_display>.state_display {
    margin: 10px;
}

#pickerBoxContainer {
    display: none;
}

.warning {
    background-color: var(--warning-color);
}

#pickerBox {
    z-index: 10;
    padding: 20px;
    position: absolute;
    top: 300px;
    right: 70px;
    width: 200px;
    height: 270px;
    transform: translate(-50%);
    /* background: #333; */
    background-color: var(--main-bg-color);
    border: 1px solid var(--second-bg-color);
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

#pickerBox .button {
    font-size: 20px;
    margin: 5px;
    padding: 7px 20px;
}

#picker_settting_img {
    position: absolute;
    width: 60%;
    height: 60%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.map-element {
    z-index: 10;
    height: 100%;
    /* background-color: lime; */
    display: inline-block;
    position: relative;
}

.map-element .hold {
    border: solid 4px;
}

.drag-line {
    width: 5px;
    height: 100%;
    background-color: green;
    position: absolute;
}

.invisible {
    display: none;
}

.map-element .facility-element {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* top:0px; */
}

.facility-element {
    height: 100px;
    width: 100px;
    z-index: 10;
    background-color: var(--second-bg-color);
}

.overlay {
    border-radius: 5px;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 20;
    cursor: pointer;
}

.overlay:hover {
    background: rgba(255, 255, 255, 0.4);
}

.gate-element {
    height: 100%;
    width: 100%;
    background-color: blue;
    -webkit-mask-box-image: url(../img/gates/Gate-1000-blacked.png);
}

.flag-element {
    height: 100%;
    width: 100%;
    background-color: blue;
    -webkit-mask-box-image: url(../img/gates/Flag-1000-blacked.png);
}

.marker-element {
    height: 100%;
    width: 100%;
    background-color: blue;
    -webkit-mask-box-image: url(../img/gates/Marker-1000-blacked.png);
}

.mat-element {
    height: 100%;
    width: 100%;
    background-color: blue;
    -webkit-mask-box-image: url(../img/gates/Mat-1000-blacked.png);
}

.receiver-element {
    height: 100%;
    width: 100%;
    background-color: blue;
    -webkit-mask-box-image: url(../img/gates/Receiver-1000-blacked.png);
}

#table_box td {
    height: 80px;
}
#table_box td, #table_box th {
    border: 1px solid var(--main-bg-color);
}

#main_table {
    border-collapse:collapse;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table_box .facility-element {
    z-index: 1;
    position: relative;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
}

.state_display {
    text-align: center;
    outline: none;
    position: relative;
    background-color: #333;
    border: none;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.state_display .facility-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reset_button {
    display: none;
}
