html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #143642;
}

.topnav {
    overflow: hidden;
    /* background-color: #143642; */
    background-color: var(--second-bg-color);
    position: fixed;
    text-align: center;
    top: 32px;
    left: 0;
    width: 100%;
}

.topnav-element {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

body {
    margin: 0;
    border: 1px solid #48545c;
    overflow-y: hidden;
}

.content {
    width: 100%;
    height: calc(100% - 100px);
}

.outer-color-pick {
    width: 40px;
    height: 40px;
    padding: 2px;
    display: inline-block;
    position: relative;
}

.color-pick {
    width: 100%;
    height: 100%;
    border: black solid 1px;
    background-color: white;
}

.color-display {
    width: 100px;
    height: 50px;
    border: black solid 2px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.outer-card {
    width: 350px;
    height: 550px;
    display: inline-block;
}

.card {
    background-color: #F8F7F9;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    width: 300px;
}

.button {
    padding: 15px 50px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    /* background-color: #0f8b8d; */
    background-color: var(--additional-color);
    border: none;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:hover:enabled {
    background-color: var(--block-color);
}

.button:active:enabled {
    /* background-color: #0f8b8d; */
    background-color: var(--frame-color);
    box-shadow: 2 2px #CDCDCD;
    transform: translateY(2px);
}

button:disabled,
button[disabled] {
    border: none;
    /* background-color: #cccccc; */
    background-color: var(--main-bg-color);
    color: #666666;
}

.state {
    font-size: 1.5rem;
    color: #8c8c8c;
    font-weight: bold;
}

input[type=range] {
    width: 90%;
    width: 100px;
    margin: 9.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    /*background: #fafafa;*/
    background: var(--slider-color, #fafafa);
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -10px;
    width: 25px;
    height: 25px;
    background: var(--background, black);
    color: rgb(12, 32, 13);
    border: 1px solid #000000;
    border-radius: 100%;
    cursor: pointer;
    -webkit-appearance: none;
}
