#table_box td {
}
#table_box td, #table_box th {
}

#table_box th .button {
    width: 100px;
}

#table_box tr {
    height : 0px;
}

#main_table {
    border-collapse:separate;
    gap: 4px;
}

.table-wrapper {
    display: grid;
    grid-template-columns: 80px 80px 80px;
}

.table-card {

}

.table-card h {
    font-size: 80px;
    position: absolute;
    left: 5px;
    top: -10px;
}

.table-card > div {
    z-index: 1;
    width: 100px;
    height: 130px;
    background-color: var(--second-bg-color);
    border-radius: 5px;
    border: 1px solid var(--main-bg-color);
    position: relative;
    display: table;
    cursor: pointer;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second-bg-color);
}

#table_box .facility-element {
    z-index: 1;
    position: absolute;
    top: 60px;
    right: 6px;
    width: 50px;
    height: 50px;
}

