#table_box td {
    height: 80px;
}
#table_box td, #table_box th {
    /* border: 1px solid var(--main-bg-color); */
}

#main_table {
    border-collapse:collapse;
}

.table-wrapper {
    display: grid;
    grid-template-columns: 80px 80px 80px;
}

.table-card {
    width: 100px;
    background-color: var(--text-color);
    border-radius: 5px;
}

.table-card h {
    font-size: large;
    background-color: var(--second-bg-color);
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--second-bg-color);
}

#table_box .facility-element {
    z-index: 1;
    position: relative;
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
}

