:root {
    --main-bg-color: #2c2f33;
    --second-bg-color: #8C8C8C;
    --frame-color: #23272a;
    --text-color: #FBB49E;
    --block-color: #99aab5;
    --additional-color: #849BFA;
    --warning-color: #c82e2e;
    --absolute-hint-color: #6c6978;

    /* --second-bg-color: #99aab5; */
    /* --block-color: #414244; */

}